:root {
    --verdeNav: #bae6379d;
    --textoBanner: #f0f8ff;
}

#navAni{
    background-color: var(--verdeNav);
}

.banner {
    height: 60vh;
    margin-bottom: 2rem;
    padding: 2rem;
    background: url('/src/assets/fundoPoster1.jpg') center /cover no-repeat fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--textoBanner);
}